.game-board {
    margin: auto;
    display: grid;
    grid-template-rows: 210px 210px 210px 210px;
    grid-template-columns: 200px 200px 200px ;
    gap: 2em;
}

.settings-board {
    /* margin: auto; */
    display: grid;
    grid-template-rows: 210px 210px ;
    grid-template-columns: 200px 200px 200px;
    gap: 2em;
    justify-content: left;
}

.help-board {
    /* margin: auto; */
    display: grid;
    grid-template-rows: 210px 210px ;
    grid-template-columns: 200px 200px 200px;
    gap: 2em;
    justify-content: left;
}

.map-board {
    display: grid;
    grid-template-rows: 210px ;
    grid-template-columns: 200px 200px 200px;
    gap: 2em;
}

.option {
    background: #888;
    border: 5px solid #777;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

body {
    display: flex;
    justify-content: center;
}

.box {
    background: #444;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
}
.box:hover {
    background-color: #555;
}

.box:checked {
    background-color: #555;
}

#overlay {
    position: fixed;
    display: none; 
    width: 25%; 
    height: 25%; 
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
    cursor: pointer;
  }
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  .map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 325%;
    height: 100%;
  }