.game-board {
    margin: auto;
    display: grid;
    grid-template-rows: 250px 250px 250px;
    grid-template-columns: 250px 250px 250px;
    gap: 2em;
}

body {
    display: flex;
    justify-content: center;
}

.box {
    background: #444;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
}
.box:hover {
    background-color: #555;
}
