.game-board {
    margin: auto;
    display: grid;
    grid-template-rows: 210px 210px 210px 210px;
    grid-template-columns: 200px 200px 200px;
    gap: 2em;
}

.option {
    background: #888;
    border: 5px solid #777;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

body {
    display: flex;
    justify-content: center;
}

.box {
    background: #444;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
}
.box:hover {
    background-color: #555;
}

#overlay {
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
    cursor: pointer;
  }
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }