.game-board {
    /* margin: auto; */
    display: grid;
    grid-template-rows: 450px 450px ;
    grid-template-columns: 450px;
    gap: 2em;
    justify-content: left;
}

body {
    display: flex;
    justify-content: center;
}

.box {
    background: #444;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
}
.box:hover {
    background-color: #555;
}

.box:checked {
    background-color: #555;
}
